name: Lint Changed Files

on: [push, pull_request]

jobs:
  changed_files:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Get list of added and modified files
        id: changed-files
        uses: tj-actions/changed-files@v39

      - name: Echo changed files
        run: |
          echo "Changed Files: ${{ steps.changed-files.outputs.all_changed_files }}" 

  lint:
    needs: [changed_files]
    runs-on: ubuntu-latest
    steps:
      - name: Lint Python scripts
        run: |
          pip install flake8
          IFS=', ' read -r -a files <<< "${{ needs.changed_files.outputs.all_changed_files }}"
          for file in "${files[@]}"; do
            [[ "$file" == *.py ]] && flake8 "$file"
          done

      - name: Lint shell scripts
        run: |
          sudo apt-get install shellcheck
          IFS=', ' read -r -a files <<< "${{ needs.changed_files.outputs.all_changed_files }}"
          for file in "${files[@]}"; do
            [[ "$file" == *.sh ]] && shellcheck "$file"
          done

      - name: Lint YAML files
        run: |
          pip install yamllint
          IFS=', ' read -r -a files <<< "${{ needs.changed_files.outputs.all_changed_files }}"
          for file in "${files[@]}"; do
            [[ "$file" == *.yaml || "$file" == *.yml ]] && yamllint "$file"
          done
